

<div style="padding:15px">
    <style>
    </style>
    <h2 class="well text-center alert alert-danger">Liste des roles </h2>

    <p>
        <button class="btn btn-primary" id="myBtn">
            <span class="glyphicon glyphicon-plus-sign"></span>Nouveau Role
        </button>

    </p>

    <div id="rolesDiv">

    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Gestion des roles </h4>
            </div>
            <div class="modal-body">
                <form>
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group">
                        <label for="EmployeeId">ID</label>
                        <input type="text" class="form-control" id="roleId" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Nom</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Age">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Description" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddRole();">Ajouter</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdateRole();">Modifier</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

            </div>

        </div>

    </div>

</div>

<link href="~/Content/iziToast-master/iziToast-master/dist/css/iziToast.min.css" rel="stylesheet" />
<script src="~/Content/iziToast-master/iziToast-master/dist/js/iziToast.min.js"></script>
<script>
    $(document).ready(function () {
        $('.navbar-nav li a.active').removeClass('active');
        $(".navbar-nav li a[href='/Roles']").addClass('active');
        $("#rolesDiv").load("/Roles/listRoles");
    });
    $("#myBtn").click(function () {
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#myModal').modal('show');
    });
    function AddRole() {

        var newRole = {
            Name: $('#Name').val(),
            Description: $('#Description').val(),
        };
        console.log(newRole);
        $.ajax({
            url: "/Roles/Create",
            data: JSON.stringify(newRole),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#rolesDiv").load("/Roles/listRoles");
                $('#myModal').modal('hide');
                iziToast.success({
                    title: 'Hola',
                    message: 'Nouveau role ajouté avec succés  !',
                    icon: 'fa fa-check-square',
                });
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function UpdateRole() {
        var role = {
            Id: $('#roleId').val(),
            Name: $('#Name').val(),
            Description: $('#Description').val(),
        };
        $.ajax({
            url: "/roles/Edit",
            data: JSON.stringify(role),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#rolesDiv").load("/Roles/listRoles");
                $('#myModal').modal('hide');
                $('#roleId').val("");
                $('#Name').val("");
                $('#Description').val("");
                iziToast.success({
                    title: 'Hola',
                    message: 'Mise à jour du role terminé avec succés  !',
                    icon: 'fa fa-check-square',
                });
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function Delete(ID) {
        var ans = confirm("t'es sure de supprimer ce role?");
        if (ans) {
            $.ajax({
                url: "/Roles/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $("#rolesDiv").load("/Roles/listRoles");
                    iziToast.success({
                        title: 'Hola',
                        message: 'Role supprimé avec succés !',
                        icon: 'fa fa-check-square',
                    });
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }


    function getbyID(roleID) {
        $('#Name').css('border-color', 'lightgrey');
        $('#Description').css('border-color', 'lightgrey');
        $.ajax({
            url: "/roles/GetbyID/" + roleID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                var data = JSON.parse(result);
                $('#roleId').val(data.Id);
                $('#Name').val(data.Name);
                $('#Description').val(data.Description);
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
        return false;
    }
</script>