@{
    ViewBag.Title = "Contact";
}
<div style="padding:15px">
    <div class="alert alert-danger text-center">Contact  </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Île-de-France</div>
                <div class="panel-body text-center">


                    Cédric DUTERTRE <br />
                    GSM +33 (0)6 99 42 03 96 <br />
                    c.dutertre@ontonomia.com
                    <hr />
                    Norbert CHOUKROUN  <br />
                    GSM +33 (0)6 85 31 41 90 <br />
                    n.choukroun@ontonomia.com


                </div>
                <div class="panel-footer text-center">4 rue de Marivaux - 75002 PARIS</div>
            </div>
        </div>




        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Rhône Alpes</div>
                <div class="panel-body text-center">
                    Gilles DEGRANGE  <br />
                    GSM +33 (0)6 13 95 41 19  <br />
                    g.degrange@ontonomia.com
                    <hr />
                    Hassan HYJAZI  <br />
                    GSM +33 (0)6 58 19 93 72  <br />
                    h.hyjazi@ontonomia.com
                </div>
                <div class="panel-footer text-center">15 rue Tupin- 69002 LYON</div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Auvergne</div>
                <div class="panel-body text-center">
                    Christophe RENARD<br />
                    GSM +33 (0)6 60 36 93 93 <br />
                    c.renard@ontonomia.com
                    <hr />
                    <br />
                    <br />
                    <br />

                </div>
                <div class="panel-footer text-center">Villeneuve l’Abbé - 63720 SAINT IGNAT</div>
            </div>
        </div>



        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">Bretagne - Pays de Loire</div>
                <div class="panel-body text-center">
                    Christophe RENARD <br />
                    GSM +33 (0)6 60 36 93 93<br />
                    c.renard@ontonomia.com
                    <hr />
                    <br />
                    <br />
                    <br />

                </div>
                <div class="panel-footer text-center">14 rue des Carmélites - 44000 NANTES</div>
            </div>
        </div>


    </div>

</div>