
@{
    ViewBag.Title = "OurServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-area banner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <h2>Nos Services</h2>
                    @*<ul class="page-title-link">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Services</a></li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section wb">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-display"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Gestion des CV. </a></h3>
                        <p>Affichage, téléchargement, modification des données ou suppresion, sont des fonctionnalitées inclus dans Ontomag. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-database"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Messagerie Personnalisée </a></h3>
                        <p>Une service de messagerie adaptée qui vous aide à sélectionner les bonnes destinataires attachements. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-magic-wand"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Extraction des données </a></h3>
                        <p>Transformer les paragraphes et textes des CVs en tableau des candidats, pour une expérience de recherche et de sélection plus fluide. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-item">
                    <div class="about-icon">
                        <span class="icon icon-cloud"></span>
                    </div>
                    <div class="about-text">
                        <h3> <a href="#">Service Recherche. </a></h3>
                        <p>Multiples options de recherche qui vous assurent la rapidité et l'efficacité de vos opérations de sélection des candidats. </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end section -->


<script>
    $(document).ready(function () {
        $('.navbar-nav li a.active').removeClass('active');
        $(".navbar-nav li a[href='/Home/OurServices']").addClass('active');
    });
</script>